*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body::-webkit-scrollbar{
    display: none;
}
  
.header{
    width: 100%;
    height: 100vh;
    background: url(firstbg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

::selection{
    color: black;
    background: #fff;
}

.logo{
    width: 210px;
    padding-right: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 30px;
    position: sticky;
    top: 0px;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    color: white;
    padding-right: 30px;
    cursor: pointer;
}

.content{
    margin-top: 28%;
    margin-left: 15%;
    font-family: Helvetica, sans-serif;
}

.content p{
    font-size: 20px;
}

.content h1{
    font-size: 40px;
}

.firstbtn{
    width: 160px;
    height: 50px;
    border: 2px solid #fff;
    background: transparent;
    color: white;
    margin-top: 25px;
    border-radius: 3px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.header2{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(secondbg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 50px;
}

.content2{
    padding-top: 35%;
    padding-left: 15%;
    font-family:Helvetica, sans-serif;
}

.content2 .firstbtn{
    margin-top: 40px;
}

.content2 h1{
    font-size: 40px;
}

.header3{
    width: 100%;
    height: 100vh;
    background: url(thirdbg.jpeg);
    background-size: cover;
    background-position: center;
    color: white;
    padding-bottom: 30px;
}

.content3{
    padding-top: 35%;
    padding-left: 15%;
    font-family:Helvetica, sans-serif;
}

.content3 .firstbtn{
    margin-top: 40px;
}

.content3 h1{
    font-size: 40px;
}

.footer{
    background: #000;
    width: 100%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-family: Helvetica, sans-serif;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer span{
    color: #979797;
    font-size: 12px;
}
.footer p{
    display: inline-block;
    padding-left: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
